hr {
  border: 1px solid #ccc;
  border-width: 1px;
  width: 100%;
}

.home {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  padding: 2rem;
}

.home__title {
  margin: 0;
}

.home__tip-calculator {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  gap: 1rem;
  font-size: 1.5rem;
}

.home__tip-calculator .category p {
  margin: 0;
}

.category.home__base-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__tip-calculator__number-input {
  border: none;
  font-size: 1.5rem;
  text-align: center;
}

.home__tip-calculator__slider {
  gap: 1rem;
}

.home__tip-calculator__slider-meter {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  margin: 0;
  padding: 0;
}

.home__tip-calculator__slider-meter:hover {
  opacity: 1;
}

.home__tip-calculator__slider-meter::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.home__tip-calculator__slider-meter::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.home__tip-calculator__slider-meter {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  margin: 0;
  padding: 0;
}

.home__tip-calculator__slider-meter:hover {
  opacity: 1;
}

.home__tip-calculator-settings {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.home__tip-calculator-results {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 2rem;
}